.header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url('../../../asset/img/Ubuntu-Wallpaper-linux-35142596-2560-1600.jpg');
  margin-top: 60px;
  padding: 0;
  
  .title{
    font-family: 'Quicksand';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    padding: 1rem 3rem 3rem 3rem;
    margin-left: 18px;
    border-left: solid 5px;
    position: relative;
    left: -550px;
    transform: translateX(550px);
    transition-duration: 4s;
  }
  .subtitle{
    font-family: 'Quicksand';
    text-transform: uppercase;
    color: white;
    position: relative;
    top: -98px;
    margin-left: 72px;
    
  }
  .social{
    display: flex;
    position: relative;
    top:-80px;
    img{
      max-width: 48px;
      margin-left: 60px;
      cursor: pointer;
      transition-duration: 0.25s;
      &:hover{
      transform: scale(1.025);
      transition-duration: 0.25s;
      }
    }
  }
}